<!DOCTYPE html>
<html>
<title>Mejora tu postura</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.5.16/p5.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="styles.css">
<script src='https://cdnjs.cloudflare.com/ajax/libs/three.js/88/three.min.js'></script>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
<script src='scripts.js'></script>
<style>
body,h1 {font-family: "Raleway", sans-serif}
body, html {height: 100%}
.bgimg {
    background-image: url('yoga.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.bgimgPostura1 {
            background-image: url('a.jpg');
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }

#errors{
    z-index: 99;
    position: absolute;
    font-size: 3em;
}
</style>
<body>

<div id='welcome'class="bgimg w3-display-container w3-animate-opacity w3-text-white">
  <div class="w3-display-middle">
    <h1 class="w3-jumbo w3-animate-top" id="empezamos">¿EMPEZAMOS?</h1>
    <hr class="w3-border-grey" style="margin:auto;width:40%">
    <p class="w3-large w3-center" id="info">En breve te enseñaremos como mejorar tu postura</p>
  </div>
</div>

<div id="errors">

</div>

</body>
</html>
